* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
  /* COLOR OF PAGE AND FONT LANG! */
    color: #39a6b2;
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;

}

 /* header styling */
 header {
     padding: 10px 20px;
     background-color: greenyellow;

 }

 header h1 {
     font-weight: bolder;
     font-size: 42px;
     color: red;
     margin: 0;
     display: inline;

 }

 header a {
     text-decoration: none;
     color: red;

 }

 header nav {
     float: right;
     margin: 15px 0;

 }

 header nav ul li {
     display: inline;

 }

 header nav ul li a {
     margin: 0 25px;
     font-weight: lighter;
     font-size: 26px;
 }
