* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
  /* COLOR OF PAGE AND FONT LANG! */
    color: #39a6b2;
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;

}
/* section styling */
section {
    padding: 50px;
    text-align: center;
}



.my-work h3 {
    margin: 10px;
    padding: 60px;

}

.my-work img input:focus {
    border: #33852e;
}



/* hero styling */
.hero {
    background-image: url(../images/trove-guardian-pathway-destiny-2_feature.jpg) ;
    height: 300px;
    background-size: cover;
    background-position: center;
    position: relative;
}

 /* header styling */
 header {
     padding: 10px 20px;
     background-color: #33852e;

 }

 header h1 {
     font-weight: bolder;
     font-size: 42px;
     color: red;
     margin: 0;
     display: inline;

 }

 header a {
     text-decoration: none;
     color: red;

 }

 header nav {
     float: right;
     margin: 15px 0;

 }

 header nav ul li {
     display: inline;

 }

 header nav ul li a {
     margin: 0 25px;
     font-weight: lighter;
     font-size: 26px;
 }

 footer {
     background: #33852e;
     width: 100%;
     padding: 40px 40px;
 }

 /* mobile screen */
 @media screen and (max-width: 575px) {
    header {
        width: 100%;
    }
    
    .hero {
      width: 100%;
    }
  
    .section {
      width: 95%;
    }
  
    .contact-me {
      text-align: center;
    }
  
    .contact-me > * {
      flex: 0 100%;
    }
}